<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Edit Product</h4>
        <p class="card-category">Add information about your product</p>
      </div>
      <div class="card-body">
        <form #productForm="ngForm" (ngSubmit)="submit(product)"> 
          <div class="row" *ngIf="isEditMode">
            <div class="col-md-5">
              <div class="form-group">
                <label class="bmd-label-floating">ID (disabled)</label>
                <input type="text" class="form-control" disabled [ngModel] = "product.id" name="id">
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Product Name</label>
                <input type="text" 
                class="form-control" 
                [(ngModel)] = "product.name" 
                name="name"
                #name="ngModel"
                minlength="6"
                required>
                <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                  <div [hidden]="!name.errors.required">
                    Product name must be required !!!
                  </div>
                  <div [hidden]="!name.errors.minlength">
                    Product name must be at least 6 characters !!!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Type</label>
                <input type="text" class="form-control" [(ngModel)] = "product.type" name="type">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Price</label>
                <input type="text" class="form-control" [(ngModel)] = "product.price" name="price">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right"><span *ngIf="!isEditMode">Create</span><span *ngIf="isEditMode">Update</span></button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
