<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="login(model)"> 
    <div class="row">
      <div class="col-md">
        <div class="form-group">
          <label class="bmd-label-floating">Username</label>
          <input type="text" 
          class="form-control" 
          [(ngModel)] = "model.username" 
          name="username"
          #name="ngModel"
          minlength="6"
          required>
          <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
            <div [hidden]="!name.errors.required">
              Username must be required !!!
            </div>
            <div [hidden]="!name.errors.minlength">
              Username must be at least 6 characters !!!
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-group">
          <label class="bmd-label-floating">Email address</label>
          <input type="password" class="form-control" [(ngModel)] = "model.password" name="email">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right">Login</button>
    <div class="clearfix"></div>
  </form>
</div>